.App {
  text-align: center;
}

.App .item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgb(226, 153, 44) 0%,
    rgb(177, 86, 26) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #73e773;
  outline: none;
  background: transparent;
}

.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(219, 161, 35) 0%,
    rgb(89, 161, 71) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.App .item-todo .item-delete {
  /* display; */
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}
